*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(
        135deg,
        #667eea,
        #764ba2
    );
}

.card{

    width:400px;

    background:rgba(
        255,
        255,
        255,
        0.15
    );

    backdrop-filter:blur(12px);

    padding:30px;

    border-radius:20px;

    text-align:center;

    color:white;
}

.card h1{
    margin-bottom:20px;
}

input{

    width:100%;

    padding:12px;

    margin:10px 0;

    border:none;

    border-radius:10px;
}

button{

    width:100%;

    padding:12px;

    border:none;

    border-radius:10px;

    cursor:pointer;

    font-size:16px;

    margin-top:10px;
}

#result{
    margin-top:20px;
    font-size:20px;
}